.project-overview {
  text-align: center;
  padding: 2rem 0;

  @media (max-width: 768px) {
    padding: 1rem 0;
  }

  &__header {
    margin-bottom: 2rem;

    &__title {
      h2 {
        font-size: 2rem;
        margin-bottom: 2rem;

        @media (max-width: 768px) {
          font-size: 1.75rem;
        }

        @media (max-width: 480px) {
          font-size: 1.5rem;
        }
      }
    }

    &__description {
        p {
          font-size: 1.25rem;
          margin-bottom: 2rem;

          @media (max-width: 768px) {
            font-size: 1rem;
          }

          @media (max-width: 480px) {
            font-size: 0.875rem;
          }
        }
    }
  }

  &__overview {


    justify-content: center;

    @media (max-width: 480px) {
      gap: 1rem;
    }
  }
}
