@import "variables/main";
@import "functions/main";
@import "properties/main";

@import "components/main";

@import "vendor/main";

body {
  background: var(--theme-gradient-black-muted);
  font-family: Arial, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}